<div>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Clinica Galenos
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>  

<ion-content>
  
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input aria-label="nombre" [(ngModel)]="datos.nombre" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">RUT</ion-label>
        <ion-input aria-label="rut" [(ngModel)]="datos.rut" placeholder="Ingrese su RUT"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Previsión</ion-label>
        <ion-select [(ngModel)]="datos.prevision" placeholder="Seleccione su previsión" label="">
          <ion-select-option value="fonasa">Fonasa</ion-select-option>
          <ion-select-option value="isapre">Isapre</ion-select-option>
          <ion-select-option value="particular">Particular</ion-select-option>
        </ion-select>
      </ion-item>      

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input aria-label="email" [(ngModel)]="datos.correo"  placeholder="Ingrese su email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input aria-label="numero" type='number' [(ngModel)]="datos.numero"  placeholder="Ingrese su número"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input aria-label="contraseña" type='password' [(ngModel)]="datos.password" placeholder="Agregue una contraseña"></ion-input>
      </ion-item>
    </ion-list>
  
  <ion-button expand="full" (click)="registrar()">Registrar</ion-button>

</ion-content>