<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Clinica Galenos </ion-title>
  </ion-toolbar>
</ion-header>

<!--
  <ion-list>
    <ion-item *ngFor="let horaTomada of horasTomadas">
       Muestra aquí la información de la hora tomada según tus necesidades 
      {{ horaTomada.nombreMedico }} - {{ horaTomada.horaDispo }} - {{ horaTomada.diaDispo }} - {{ horaTomada.especialidad }}
    </ion-item>
  </ion-list>
-->

<ion-content>
  <ion-list>
    <ion-card *ngFor="let horaTomada of horasTomadas">
      <ion-card-content>
        <div class="nombre-apellido">
          {{ horaTomada.nombre }} {{ horaTomada.apellido }}
        </div>
        <div class="detalles">
          {{ horaTomada.horaDispo }} - {{ horaTomada.diaDispo }} - {{
          horaTomada.especialidad }}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
