<div>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        Clinica Galenos
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>  

<ion-content class="ion-padding">
  <ion-card *ngIf="userData">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ userData.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Correo:</ion-label>
          <ion-text>{{ userData.correo }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">RUT:</ion-label>
          <ion-text>{{ userData.rut }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Previsión:</ion-label>
          <ion-text>{{ userData.prevision }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Número:</ion-label>
          <ion-text>{{ userData.numero }}</ion-text>
        </ion-item>
                

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="medicData">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ medicData.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Correo:</ion-label>
          <ion-text>{{ medicData.correo }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Especialidad:</ion-label>
          <ion-text>{{ medicData.especialidad }}</ion-text>
        </ion-item>      
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" class="boton-cerrar" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>
