.Agendar {
    width: 80%; /* Ajusta el ancho según tus preferencias */
    font-size: 1.5rem; /* Ajusta el tamaño del texto según tus preferencias */
    margin: 10px auto; 
    margin-top: 100px;
}

.hora-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .info-container {
    flex: 1;
  }
  
  .nombre-apellido {
    font-weight: bold;
  }
  