<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/Menu"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Clinica Galenos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let card of cardInfo" class="card-item">
      <ion-button (click)="showCardInfo(card)" size="large">
        {{ card.title }}
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedCard">
    <ion-card-header>
      {{ selectedCard.title }}
    </ion-card-header>
    <ion-card-content>
      {{ selectedCard.content }}
    </ion-card-content>
  </ion-card>
</ion-content>