<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admiMedicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medico of medicos">
      <ion-avatar slot="start">
        <img [src]="medico.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ medico.nombre }} {{ medico.apellido }}</h2>
        <p>Especialidad: {{ medico.especialidad }}</p>
        <p>Email: {{ medico.email }}</p>
        <p>Número de contacto: {{ medico.numero }}</p>
      </ion-label>
      <ion-buttons>
        <ion-button (click)="seleccionarMedico(medico)">Seleccionar</ion-button>
        <ion-button color="danger" (click)="eliminarMedico(medico)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setOpen(!isModalOpen)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center"> Clinica Galenos </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <form [formGroup]="nuevoMedicoForm">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input
                aria-label="nombre"
                formControlName="nombre"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-item
              *ngIf="nuevoMedicoForm.controls['nombre'].hasError('required')"
            ></ion-item>

            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input
                aria-label="apellido"
                formControlName="apellido"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-item
              *ngIf="nuevoMedicoForm.controls['apellido'].hasError('required')"
            ></ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                aria-label="email"
                formControlName="email"
                type="email"
              ></ion-input>
            </ion-item>

            <ion-item
              *ngIf="nuevoMedicoForm.controls['email'].hasError('required')"
            ></ion-item>

            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input
                aria-label="numero"
                formControlName="numero"
                type="number"
              ></ion-input>
            </ion-item>

            <ion-item
              *ngIf="nuevoMedicoForm.controls['numero'].hasError('required')"
            ></ion-item>

            <ion-item>
              <ion-label position="floating">Especialidad</ion-label>
              <ion-select
                formControlName="especialidad"
                placeholder="Seleccionar Especialidad"
                label=""
              >
                <ion-select-option value="Medicina General"
                  >Medicina General</ion-select-option
                >
                <ion-select-option value="Kinesiología"
                  >Kinesiología</ion-select-option
                >
                <ion-select-option value="Oftalmología"
                  >Oftalmología</ion-select-option
                >
                <ion-select-option value="Otorrinolaringología"
                  >Otorrinolaringología</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item
              *ngIf="nuevoMedicoForm.controls['especialidad'].hasError('required')"
            ></ion-item>

            <label class="custom-file-input">
              Imagen
              <input
                aria-label="Imagen"
                type="file"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </label>

            <ion-button
              expand="full"
              [disabled]="!nuevoMedicoForm.valid"
              (click)="crearMedico()"
              >Guardar</ion-button
            >
          </form>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-item *ngIf="medicoSeleccionado && !modoEdicion">
    <ion-button expand="full" (click)="activarModoEdicion()"
      >Editar Médico</ion-button
    >
  </ion-item>

  <ion-item *ngIf="medicoSeleccionado && modoEdicion">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input
      aria-label="nombre"
      [(ngModel)]="medicoSeleccionado.nombre"
    ></ion-input>

    <ion-label position="floating">Correo</ion-label>
    <ion-input
      aria-label="email"
      [(ngModel)]="medicoSeleccionado.email"
    ></ion-input>

    <ion-label position="floating">Numero</ion-label>
    <ion-input
      aria-label="numero"
      [(ngModel)]="medicoSeleccionado.numero"
    ></ion-input>

    <ion-button expand="full" (click)="guardarCambios()"
      >Guardar Cambios</ion-button
    >
  </ion-item>
</ion-content>
