.custom-file-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Ajusta según tu preferencia */
  }
  
  .custom-file-input input {
    margin-top: 5px; /* Ajusta según tu preferencia */
  }
  