<ion-tabs>
  <ion-tab-bar slot="bottom">       
    <ion-tab-button tab="TomadeHora" >
      <ion-icon name="calendar-outline"></ion-icon>
      Toma de Hora
    </ion-tab-button>   
    <ion-tab-button tab="Menu" >
      <ion-icon name="home-outline"></ion-icon>
      Menu
    </ion-tab-button>
    <ion-tab-button tab="MiAgenda" >
      <ion-icon name="file-tray-full-outline"></ion-icon>
      Mi Agenda
    </ion-tab-button>
    <ion-tab-button tab="Perfil" >
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button tab="MainAdmin" >
      <ion-icon name="calendar-outline"></ion-icon>
      Admin
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
