<ion-tabs>
  <ion-tab-bar slot="bottom">       
    <ion-tab-button *ngIf="!isAdmin && !isMedico" tab="TomadeHora" >
      <ion-icon name="calendar-outline"></ion-icon>
      Toma de Hora
    </ion-tab-button>   
    <ion-tab-button *ngIf="!isAdmin && !isMedico" tab="Menu" >
      <ion-icon name="home-outline"></ion-icon>
      Menu
    </ion-tab-button>
    <ion-tab-button *ngIf="!isAdmin && !isMedico" tab="MiAgenda" >
      <ion-icon name="file-tray-full-outline"></ion-icon>
      Mi Agenda
    </ion-tab-button>
    <ion-tab-button *ngIf="isAdmin" tab="AdmiMedicos" >
      <ion-icon name="hammer-outline"></ion-icon>
      Edit Medicos
    </ion-tab-button>
    <ion-tab-button tab="Perfil" >
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button *ngIf="isAdmin" tab="MainAdmin" >
      <ion-icon name="settings-outline"></ion-icon>
      Admin
    </ion-tab-button>
    <ion-tab-button *ngIf="isMedico" tab="MainMedico" >
      <ion-icon name="settings-outline"></ion-icon>
      Crear Agenda
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
