<div>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        Bienvenido
        <ion-label>
          {{ state.usuario }}
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>  



<ion-content class="botones-container">  
  <ion-button class="custom-button" expand="full" [routerLink]="['/examenes']">
    Examenes
  </ion-button>
  <ion-button class="custom-button1" expand="full" [routerLink]="['/tabs/TomadeHora']">
    Ir a Tomar Hora
  </ion-button>
</ion-content>
