.botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  ion-button.custom-button {
    font-size: 1.5em;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }

  ion-button.custom-button1 {
    font-size: 1.5em;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
  }
  